{% extends 'base.html' %}
{% load static %}
{% block title %}
  Hydra Core || Editing Project
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'account.css' %}" />
{% endblock %}

{% block content %}
  {% include 'includes/header.html' %}

  <section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
      <div class="login">
        <h1 class="title">Hydra Core</h1>
        <br>
        <h2 class="subtitle">Adding ToDo List to <strong>"{{ project.name }}"</strong></h2>
        <form action="." method="POST">
          {% csrf_token %}

          <div class="field">
            <div class="control">
              <input class="input is-medium is-rounded" type="text" placeholder="List Name" name="name" value="{{todolist.name}}" required />
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input is-medium is-rounded" type="text" placeholder="Description" name="description" value="{{todolist.description}}" required />
            </div>
          </div>
          <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">Update</button>
        </form>

        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <a href="{% url 'todolist:todolist' todolist.project.id todolist.id %}">Cancel</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>
  {% include 'includes/footer.html' %}
{% endblock %}
