{% extends 'base.html' %}
{% block title %}
  Hydra Core || Project
{% endblock %}
{% block content %}
  {% include 'includes/header.html' %}

  <div class="container is-max-desktop">
    <section class="featured">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <a href="{% url 'project:projects' %}" class="button is-success"><</a>
          </div>
          <div class="level-item">
            <h2 class="title">{{ project.name }}</h2>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a href="{% url 'project:edit-project' project.id %}" class="button is-link">Edit</a>
          </div>
          <div class="level-item">
            <a href="{% url 'project:delete-project' project.id %}" class="button is-danger">Delete</a>
          </div>
        </div>
      </div>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h2 class="subtitle">ToDo List</h2>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a href="{% url 'todolist:add-todo' project.id %}" class="button is-success">Add To-Do List</a>
          </div>
        </div>
      </div>
      <div class="columns is-multiline">
        {% for todo in project.todolists.all %}
        <div class="column is-6">
          <div class="category box">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <h1 class="title is-5">{{ todo.name }} </h1>
                  <span class="subtitle">{{ todo.description }}</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <a href="{% url 'todolist:todolist' project.id todo.id %}" class="button is-link">Detail</a>
                </div>
              </div>
            </div>
              {% for task in todo.tasks.all %}
                <i class="fas fa-caret-right fa-xs icon-padding-right" /></i>
                {% if not task.is_done %}
                <label class="subtitle is-6 has-text-black has-text-weight-medium">{{task.name}}</label>
                <br>
                  {% else %}
                  <label style="text-decoration: line-through;" class="subtitle is-6 has-text-black has-text-weight-medium">{{task.name}}</span>
                    {{task.name}}
                  </label>
                  <br>
                  {% endif %}
                {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>


      {% comment %} File Upload {% endcomment %}
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h2 class="subtitle">Attachments</h2>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a href="{% url 'project:add-attachment' project.id %}" class="button is-success">Upload File</a>
          </div>
        </div>
      </div>

      
      <div class="columns is-multiline">
        {% for file in project.files.all %}
          <div class="column is-3">
            <article class="box">
              <h2 class="is-size-5">{{ file.name }}</h2>
              <br>
              {% if file.attachment %}
              <a href="{{ file.attachment.url }}" target="_blank">View</a> || {% endif %}
              <a href="{% url "project:delete-attachment" project.id file.id %}">Delete</a>
            </article>
          </div>
        {% endfor %}
      </div>


      {% comment %} Notes {% endcomment %}
      
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <h2 class="subtitle">Notes</h2>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a href="{% url 'project:add-note' project.id %}" class="button is-success">Add Note</a>
          </div>
        </div>
      </div>

      
      <div class="columns is-multiline">
        {% for note in project.notes.all %}
          <div class="column is-3">
            <article class="box">
              <h2 class="is-size-5">{{ note.name }}</h2>
              <br>
              {{ note.body|truncatechars:50 }}
              <br>
              <a href="{% url "project:detail-note" project.id note.id %}">Read</a> ||
              <a href="{% url "project:edit-note" note.project.id note.id %}">Edit</a> ||

              <a href="{% url "project:delete-note" project.id note.id %}">Delete</a>
            </article>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
  {% include 'includes/footer.html' %}
{% endblock %}
